<h6 class="title">Deutschübung – Memorization through repetition</h6>

<div id="word-box">
	<h1><a id="word" target="_blank"></a><sup id="gender"></sup></h1>
	<p id="description"></p>
</div>

<input id="input" class="input-default" type="text" autofocus autocomplete="off" placeholder="Enter the translation">

<div id="help"></div>