<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>Deutschübung</title>

	<link rel="stylesheet" type="text/css" href="/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<script src="/jquery/dist/jquery.min.js"></script>
	<script src="/random/lib/random.min.js"></script>
<% for (var i = 0; scripts && i < scripts.length; i++) { %>
	<script src="/js/<%= scripts[i] %>"></script>
<% } %>
</head>
<body>
	<div id="content">
		<%- body %>
	</div>

	<footer class="page-footer">Toni Sucic &copy; <%= (new Date()).getFullYear() %></footer>
</body>
</html>