<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">

	<title>Deutschübung</title>

	<link rel="stylesheet" type="text/css" href="/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<script src="/jquery/dist/jquery.min.js"></script>
</head>
<body>
	<div id="content">
		<%- body %>
	</div>

	<footer class="page-footer">Toni Sučić &copy; <%= (new Date()).getFullYear() %></footer>

	<% for (var i = 0; scripts && i < scripts.length; i++) { %>
		<script src="/js/<%= scripts[i] %>"></script>
	<% } %>
</body>
</html>