@import url(http://fonts.googleapis.com/css?family=Lora:400,400italic);

body {
	color: #212121;
	background-color: #f8f8f8;
	padding: 10px;
	font-family: 'Lora', Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

#content {
	width: 768px;
	margin: 0 auto;
}

#word-box {
	padding: 30px;
	text-align: center;
}

#word {
	color: #212121;
	font-size: 2.6em;
	text-decoration: none;
}

#word:hover {
	text-decoration: underline;
}

#gender {
	color: #555;
	font-size: 2em;
	font-style: italic;
	margin-left: 15px;
}

#description {
	padding: 10px;
	font-style: italic;
}

#input {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	color: #555;
	outline: none;
	border: 2px solid;
	padding: 12px;
	font-size: 1.2em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-transition: border-color .75s;
	   -moz-transition: border-color .75s;
	        transition: border-color .75s;
}

.input-default {
	border-color: #ccc !important;
}

.input-correct {
	border-color: rgba(0, 150, 0, 0.5) !important;
}

.input-incorrect {
	border-color: rgba(200, 0, 0, 0.5) !important;
}

#input::-webkit-input-placeholder {
	text-align: center;
}

#input:-moz-placeholder {
	text-align: center;
}

#help {
	color: #555;
	padding: 40px;
	font-size: 1.5em;
	text-align: center;
}

.title {
	color: #777;
	font-size: .9em;
	font-weight: normal;
	text-align: center;
}

.text-center {
	text-align: center;
}

.page-footer {
	position: fixed;
	bottom: 0;
	margin-bottom: 40px;
	width: 100%;
	color: #777;
	font-size: 0.9em;
	text-align: center;
}

/* small displays */
@media screen and (max-width: 800px) {
	#content {
		width: 90%;
	}

	#word-box {
		padding: 5px;
		font-size: 60%;
	}

	#input {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}